page-home {
  ion-footer {
    background: #eeeeee;
    border-top: 1px solid #dedede;
    .button {
      text-transform: unset;
      .icons {
        padding-left: 0.3em;
        font-size: 2rem;
      }
    }
  }
}
